.bg-container {
  background-image: linear-gradient(to bottom right, #9796f0, #fbc7d4);
  background-size: cover;
  min-height: 100vh;
}

.responsive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.emoji-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
